<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Alpha.HAML Star Autocomplete</title>
  <link rel="stylesheet" href="views/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- <link rel="icon" href="./assets/favicon.ico" type="image/x-icon"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header class="header">
  </header>

  <section>

    <div class="main-container">
      <div class="sunsetly-title">
        <h3 class="h3">Sunsetly</h3>
        <p class="title-p">Search time for sunrise and sunset</p>
      </div>

      <form id="info" class="form" action="" method="GET">
        <label for="city-name">city name</label>
        <input id="city-name" type="text" name="city-name" value="" placeholder="Enter your city" class="city-box" autocomplete="off" required>
        <label for="date">date</label>
        <!--<input id="date" type="date" name="date-input" placeholder="today">-->

        <input placeholder="Today" class="date-box" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">

        <input type="submit" value="submit">
      </form>


      <div id="result" class="result"></div>
    </div>

    <footer>

    </footer>
  </section>

  <script type="text/javascript" src="views/index.js"></script>
</body>

</html>
