<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sunsetly</title>
  <link rel="stylesheet" href="views/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- <link rel="icon" href="./assets/favicon.ico" type="image/x-icon"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   <form id="info" action="" method="GET">
       <header class="header">
         <img src="https://api.monosnap.com/rpc/file/download?id=e34inhMXOwjjVB2LHMi79NnXt19rom" alt="" id="logo">
       </header>
         <fieldset>
           <label for="city-name">City Name:</label>
           <input id="city-name" type="text" value="" name="city-name" id="name" placeholder="Enter your city" class="city-box" autocomplete="off" required>
 <label for="date">date</label>
         <input placeholder="today" class="date-box" id="date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name="date-input" >
         </fieldset>

         <button type="submit" value="submit">Submit your search</button>
       </form>


      <div id="result" class="result"></div>




  <script type="text/javascript" src="views/index.js"></script>
</body>

</html>
